.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
#pantryArticle {
  background-image: url("images/Food-Pantry.jpg");
  background-size: cover;
  text-shadow: 2px 2px 2px blue;
}
#blenderArticle {
  background-image: url("images/Bar drinks.jpg");
  background-size: cover;
  text-shadow: 2px 2px 2px blue;
}
#pantryArticle,
#blenderArticle {
  position: relative;
}
#generate-food,
#generate-drink {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

#button-border {
  border: none;
}
